body{
    background: url(OkBcHl2U6T-b57.jpg);
    color: black;
    

}
p{
    text-align: right;
}
h1, h2{
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: green;
}
em{
    border-bottom: 3px double;
    padding: 10px;
}
strong{
    font-family: 'Caveat', sans-serif;
}
h1, h2, p{
    margin: 20px;
} 